.placeholder {
  background-color: #F7EC3F;
  min-width: 5rem;
  min-height: 7rem;
  margin: 5rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1d2c3b;
  font-size: 1.2rem;
}

body {
  background-color: #1d2c3b;
  padding: 2rem;
}
